@charset "UTF-8";

body {
    background-image: url(https://images5.alphacoders.com/570/570658.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sectionsNavBar {
   background-color: #030303;
   background-position: center;
   background-size: cover;
   padding: 30px;
   text-align: end;
}

.sectionsLetter {
    color: #ffffff;
    flex: auto;
    display: flex;
    padding: 10px 12px;
    float: right;
    text-align: end;
    font-size: larger;
    font-weight: bolder;


}